<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online lightboard</title>
    </head>
    <body>
        {% for i, channel in enumerate(channels) %}
        <input
            type="range"
            id="{{ i }}"
            value="{{ channel }}"
            min="0"
            max="100"
        />
        {% endfor %}
        <div id="console"><span class="mode orange">LIVE: Cue 1: </span><span id="commandarea"> </span><span id="done" style="display: none;">◆</span></div>
        <style>
            body {
                background-color: #000;
                font-family: sans-serif;
            }
            input[type="range"] {
                writing-mode: bt-lr; /* IE */
                -webkit-appearance: slider-vertical; /* Chromium */
                width: 8px;
                height: 175px;
                padding: 0 5px;
            }
            #console {
                width: 90vw;
                bottom: 10px;
                left: 5px;
                position: absolute;
                border: 2px solid #aa4d03;
                border-radius: 3px;
                background-color: #0f1923;
                color: #db7c22;
                font-size: 32px;
            }
            .orange {
                color: #aa4d03;
            }
        </style>
        <script>
            let latestUpdateTime = new Date().getTime();
            document.querySelectorAll("input[type=range]").forEach((el) => {
                el.addEventListener("input", () => {
                    const currentTime = new Date().getTime();

                    //Set request interval
                    if (currentTime - latestUpdateTime < 10) return;

                    latestUpdateTime = currentTime;
                    fetch(`/setChannel/${el.id}/${el.value}`);
                });
            });

            function updateSliders(channels) {
                channels.forEach((level, i) => {
                    document.getElementById(i).value = level;
                })
            }

            //console
            const keyboardCommands = {
                q: "Cue",
                a: "@",
                f: "Full",
                r: "Record",
                u: "Update",
                o: "Out",
            };
            const commandInput = document.querySelector("#commandarea");

            function isInt(num) {
                return !Number.isNaN(parseInt(num));
            }

            let command = {
                text: "",
                symbols: [],
                mode: "LIVE",
                cue: "1",
                done: false,
                append: function (input) {
                    if(this.done) {
                        this.clear();
                    }

                    const isNumber = parseInt(input) != NaN;

                    if (isNumber) {
                        if (this.symbols.length === 0) {
                            this.symbols.push("Chan");
                        }
                        this.symbols.push(input);
                    } else {
                        this.symbols.push(input);
                    }
                    this.update();
                },
                update: function () {
                    if (this.symbols.length == 0) {
                        this.setText("");
                        return;
                    }
                    let text = this.symbols.reduce((prev, cur, i) => {
                        if (isInt(prev[prev.length - 1]) && isInt(cur)) {
                            return prev + cur;
                        }
                        return prev + ` ${cur}`;
                    });
                    this.setText(text);
                },
                setText: function (text) {
                    this.text = text;
                    commandInput.innerHTML = this.text;
                },
                backspace: function () {
                    if(this.done) {
                        this.clear();
                        return;
                    }
                    this.symbols.pop();
                    this.update();
                },
                enter: function () {
                    if(this.done) return;
                    if(isInt(this.symbols[this.symbols.length - 1]) && !isInt(this.symbols[this.symbols.length - 2])) {
                        this.append('0');
                    }
                    document.querySelector('#done').style.display = 'inline';
                    this.send();
                    this.done = true;
                },
                clear: function() {
                    this.symbols = [];
                    this.done = false;
                    document.querySelector('#done').style.display = 'none';
                    this.update();
                },
                send: function() {
                    this.update();
                    fetch('/consoleCommand', {
                        method: 'POST',
                        mode: 'cors',
                        cache: 'no-cache',
                        credentials: 'same-origin',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ text: this.text, symbols: this.symbols})
                    }).then(async response => {
                        const json = await response.json();
                        console.log(json);
                        updateSliders(json);
                    })
                }
            };
            command.update();

            //Listen for keydowns
            window.addEventListener("keydown", (event) => {
                const key = event.key;
                const keyMeaning = keyboardCommands[key];
                console.log(key, keyMeaning);
                if (key == "Backspace") {
                    command.backspace();
                } else if(key == "Enter") {
                    command.enter();
                } else if (keyMeaning || isInt(key)) {
                    command.append(
                        keyboardCommands[key] ? keyboardCommands[key] : key
                    );
                }
            });
        </script>
    </body>
</html>
